@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

body {
    overflow: hidden;
    background: rgb(10, 39, 67);
    text-align: center;
    font-size: 16px;
}
.version{
    margin-left:10px;
    font-size:1.1rem;
    color:white;
}
canvas {
    position: absolute;
    left: 0;
    top: 0;
    background: #111;
    border-radius: 1px;
    transition: all 0.2s linear;
    filter: saturate(125%);
}

.showNav:hover {
    border: 5px solid black;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: flex;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100vh;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with opacity */
    z-index: 500;
    /* Specify a stack order in case you're using a different order for other elements */
}

#gameContainer div {
    box-sizing: content-box;
    border-radius: 2px;
    pointer-events: auto;
}

.settingsContainer {
    min-width: 200px;
    min-height: 400px;
    max-height: 600px;
    max-width: 900px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgb(112, 116, 132);
    filter: saturate(125%);
    z-index: 501;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(11, 39, 65) inset;
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

.helpContainer {
    min-width: 200px;
    min-height: 400px;
    max-height: 600px;
    max-width: 900px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgb(112, 116, 132);
    z-index: 502;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(11, 39, 65) inset;
    position: relative;
    font-size: 1.3rem;
    display: flex;
    filter: saturate(125%);
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

.helpContainer div {
    color: white;
    margin: 5px;
    z-index: 502;
    text-align: center;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
}

.helpContainer div a {
    pointer-events: auto;
}

.helpContainer .exit {
    pointer-events: auto;
    color: rgb(6, 167, 178);
}

.exit {
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 2rem;
}

.exit:hover {
    color: rgb(61, 227, 0);
}

.settingsContainer h1 {
    color: white;
    font-size: 2rem;
    margin: 20px;
    z-index: 502;
    pointer-events: none;
    margin-top: 40px;
    filter: saturate(125%);
}

.yes {
    background: rgb(15, 173, 15);
}

.yes::before {
    content: "On";
}

.no::before {
    content: "Off";
}

.yes:hover,
save:hover {
    background: rgb(100, 255, 4);
}

.no {
    background: rgb(229, 0, 0);
}

.no:hover {
    background: rgb(246, 38, 6);
}

.settingsContainer div {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    filter: saturate(125%);
    max-height: 50px;
}

#saveButton {
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(15, 173, 15);
    border-radius: 2px;
    color: white;
    padding: 2px;
    text-align: center;
    filter: saturate(125%);
    cursor: pointer;
    font-size: 1rem;
}

.settingsContainer label {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    padding: 2px;
    filter: saturate(125%);
}

.settingsContainer button {
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px;
    color: white;
    filter: saturate(125%);
    font-size: 1.2rem;
    padding: 5px;
    height: 40px;
    width: 50px;
}

nav span {
    background-color: transparent;
    width: 70px;
    height: 50px;
    border: none;
    margin-left: 10px;
    padding: 10px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.1s linear;
    filter: saturate(125%);
    z-index: 100;
}

.back {
    background-image: url(./graphics/exit-door.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    position: absolute;
    filter: saturate(125%);
    right: 0;
    /*top: 0; */
}

.settings {
    background-image: url(./graphics/settings.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    position: absolute;
    filter: saturate(125%);
    right: 70px;
    /* right: 0;
  top: 0;*/
}

.help {
    /*  background-image: url(./graphics/question.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:30px 30px;*/
    position: absolute;
    filter: saturate(125%);
    right: 140px;
}

.help:before {
    content: '?';
    color: white;
    font-size: 2.1rem;
    filter: saturate(125%);
    text-align: center;

    position: relative;
    top: -6px;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
}

.name {
    left: 50px;
    position: absolute;
    justify-content: baseline;
    width: 250px;
    border: none;
    cursor: default;
    filter: saturate(125%);
    text-align: left;
}

.circle {
    background: white;
    border-radius: 50%;
    position: absolute;
    filter: saturate(125%);
    left: 0px;
    transform: scale(0.7);
    width: 50px;
    cursor: default;
    border: none;
}

.back:hover,
.settings:hover,
.help:hover {
    background-color: rgba(22, 91, 170, 0.78);
}

nav {
    position: absolute;
    height: 50px;
    transform: scale(0.9);
    width: 100%;
    top: 41px;
    pointer-events: auto;
    background-color: rgba(1, 47, 99, 0.78);
    border-bottom: 1px solid rgb(5, 7, 116);
    transition: all 0.05s linear;
    display: flex;
    filter: saturate(105%);
    justify-content: flex-end;
    align-items: baseline;
}

.container {
    width: 1600px;
    height: 900px;
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
    filter: saturate(125%);
    z-index: 300;
    transition: all 0.2s linear;
    /*border: 5px solid black;*/
}

.container .byte {
    position: absolute;
    font-size: 1.3rem;
    filter: saturate(125%);
    bottom: -5px;
    right: 70px;
}

.container .highscore {
    position: absolute;
    font-size: 1.3rem;
    filter: saturate(125%);
    bottom: -5px;
}

.container .ping {
    position: absolute;
    font-size: 1.2rem;
    filter: saturate(125%);
    top: -5px;
    left: 63px;
}

.container h1 {
    font-size: 1.9rem;
    margin-top: 1px;
    filter: saturate(125%);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    filter: saturate(125%);
    background: rgb(8, 50, 90);
    z-index: 200;
    transition:all 0.2s linear;
}

.menu input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    filter: saturate(125%);
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    filter: saturate(125%);
}

.menu h1 {
    position: relative;
    top: -10px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    filter: saturate(125%);
    animation: fadeIn 0.5s linear;
}

.play {
    position: relative;
    width:100px;
    height:100px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    /*line-height: 150px;*/
    letter-spacing: 2px;
    filter: saturate(50%);
    margin-left: 30px;
    border-radius:50%;
    margin-right: 30px;
    transition: filter 0.2s linear;
    background: rgb(23, 23, 148);
    outline:none;
    animation:moveIn 1s linear;
}
#red{
    background:#b51f1f;
}
#blue{
    background: #1b63b5;
}
#yellow{
    background: #ab9f1b;
}
.classes{
    padding:5px;
    position: relative;
    top:30px;
    display:flex;
    justify-content:center;
    align-content:center;
  /*  flex-direction:column;*/
    min-height:150px;
    transition:all 0.2s linear;
}
@keyframes moveIn{
    0%{
        top:-50vh;
    }
    100%{
        top:0px;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.links {
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    color: white;
    font-size: 1.9rem;
    background: rgb(116, 22, 36);
    padding: 30px;
    z-index: 1000;
    cursor: pointer;
    pointer-events: auto;
    transition: background 0.05s linear;
    filter: saturate(125%);
    animation: fadeIn 1.5s linear;
}

p {
    text-align: center;
    color: white;
    filter: saturate(125%);
    margin: 20px;
}

.super {
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: 45px;
    filter: saturate(125%);
}

.links:hover {
    background: rgb(142, 31, 48);
    filter: saturate(150%);
}

.leaderboard {
    width: 100px;
    height: 125px;

    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.play:hover {
    /*background: #18125bfe url(./graphics/pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;*/
    filter: saturate(200%);
    /*animation: animate 0.8s steps(8) forwards;*/
}

.play::after:hover {
   /* background: #241c7b6d;
    filter: saturate(125%);
    z-index: 200;*/
}

@keyframes animate {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: -480px;
    }
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    filter: saturate(125%);
}

#chatHolder {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 35%;
    text-align: center;
    z-index: 0;
}

#chatBox {
    padding: 1px;
    font-size: 20px;
    color: #1f1633;
    background-color: rgba(219, 210, 210, 0.267);
    width: 28%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transform: scale(1.2);
    /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
    /*border: 1px solid #cccccc;*/
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;*/
    outline: none;
}

#chatBox:focus {
    border-color: rgba(82, 169, 236, 0.971);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        50 50 50px rgba(82, 169, 236, 0.909);
    outline: 0 none;
}

.chat::-webkit-input-placeholder {
    color: #333;
}

.chat:-moz-placeholder {
    color: #333;
    opacity: 1;
}

.chat::-moz-placeholder {
    color: #333;
    opacity: 1;
}

.chat:-ms-input-placeholder {
    color: #333;
}